#base-ui {z-index: 99;}
#deity-pic {max-height: 37.5%; max-width: 37.5%; border-radius: 50%; border: 0.15em solid #fdf6d8; margin: 0 auto; cursor: pointer;}
#origin-pic {display: block; max-height: 25%; max-width: 25%; border-radius: 50%; border: 0.1em solid #fdf6d8; margin: 0 auto; cursor: pointer;}
#origin-pic:hover, #deity-pic:hover {border: 0.1em solid gold;}
#origin-bonus {color: gold; font-weight: 500;}
#popover-image {right: 0;}
#typewriter {width: 100%;} 
.border {border: 0.1em solid #fdf6d8; border-radius: 0.25rem; margin: 0.5rem; background-color: black; z-index: 0;
    box-shadow:
    inset #000 0 0 0 0.2em, 
    inset #fdf6d8 0 0 0 0.3em; 
}
.compare-border {border: 0.1em solid #fdf6d8;border-left: 0.1em solid #fdf6d8;border-right: 0.1em solid #fdf6d8;padding:0.5%;}
.borderless {border: none;}
.borderCircle {border-radius: 50%;}
.buttonBorderless {font-family: "Cinzel Regular";padding: 0.5em;background-color: #000;color: rgba(253, 246, 216, 0.87);border: none;cursor: pointer;transition: all 0.3s;
    &:hover {border: 0.15em solid gold;color: gold;}
    &:active {border: 0.15em solid gold;color: gold;}
    &:disabled {cursor: not-allowed;border: 0.15em solid rgba(253, 246, 216, 0.3);color: rgba(253, 246, 216, 0.3);}
}
.middleLeft {position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-size: 0.8em;}
.middleRight {position: absolute; top: 50%; right: 0; transform: translateY(-50%); font-size: 0.8em;}
.verticalBottom {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); font-size: 0.8em;}
.verticalCenter {position: absolute; top: 50%; transform: translateY(-50%); font-size: 0.8em;}
.verticalTop {position: absolute; top: 0; left: 50%; transform: translateX(-50%); font-size: 0.8em;}
.right {position: absolute; left: 51%;}
.fade-in {opacity: 1; transition: opacity 2s ease-in;}
.fade-out {opacity: 0; transition: opacity 2s ease-in;}
.header {display: flex; justify-content: space-between; padding: 5; margin-bottom: 5; color: #fdf6d8; font-family: 'Cinzel-Regular'; font-size: 1.25em; border-bottom-color: #fdf6d8; border-bottom-width: 2;}

.moisten {animation: moist 0.5s ease;}
.juice {
    animation: juicy 0.75s ease;
    transition: transform 0.75s ease; /* Ensure smooth transitions */
}
.juice:hover, .juice:focus {
    background: #27001d;
    transform: scale(1.1); /* Focused/hovered element grows */
    border-color: gold;
    box-shadow: inset #000 0 0 0 0.2em, inset gold 0 0 0 0.3em; 
    transition: transform 0.75s ease, background 0.75s ease, box-shadow 0.75s ease, border-color 0.75s ease;
}
.juice:not(:hover):not(:focus) {
    transform: scale(1); /* Shrink all non-hovered/non-focused elements */
    transition: transform 0.75s ease, background 0.75s ease, box-shadow 0.75s ease, border-color 0.75s ease;
    border-color: #fdf6d8;
}
.menu:hover .juice:not(:hover),
.menu:focus-within .juice:not(:focus) {
    transform: scale(0.85); /* Shrink all non-hovered/non-focused elements */
    transition: transform 0.5s ease; /* Smooth transition */
}

.juiceNB {
    animation: juicy 0.75s ease;
    transition: transform 0.75s ease; /* Ensure smooth transitions */
}
.juiceNB:hover, .juiceNB:focus {
    transform: scale(1.25); /* Focused/hovered element grows */
    transition: transform 0.75s ease, background-color 0.75s ease;
    filter: drop-shadow(0 0 2px #fdf6d8);
}
.juiceNB:not(:hover):not(:focus) {
    transform: scale(1); /* Shrink all non-hovered/non-focused elements */
    transition: transform 0.75s ease, background-color 0.75s ease;
}
.menu:hover .juiceNB:not(:hover),
.menu:focus-within .juiceNB:not(:focus) {
    transform: scale(0.8); /* Shrink all non-hovered/non-focused elements */
    transition: transform 0.5s ease; /* Smooth transition */
}
@keyframes moist {
    0% { transform: scale(0.9); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes juicy {
    0% { transform: scale(0.85); }
    100% { transform: scale(1); }
}
@keyframes juicyNB {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}
.fadeIn {animation: fadein 1s ease;}
@keyframes visible {0% {opacity: 0;}100% {opacity: 1;}}
@keyframes glowing {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
@keyframes invisible {0% {opacity: 1;}100% {opacity: 0;}}
@keyframes fadein {0% {opacity:0}100% {opacity:1}}
@keyframes fadeout {0% {opacity:1}100% {opacity:0}}
.superfade-in {animation: 5s glowing infinite;}
.superfade-out {animation: 3s 1 invisible;}
.super-in {animation: 3s 1 fadein;}
.super-out {animation: 3s 1 fadeout;}
.flash {animation: 3s 1 invert;}
.combatUiAnimation {animation: 3s 1 form;}
@keyframes form {0% {filter: invert(0%);}50% {filter: invert(100%);}100% {filter: invert(0%);}}
@keyframes invert {0% {filter: invert(0%);transform: scale(1);}50% {filter: invert(100%);transform: scale(1.1);}100% {filter: invert(0%);transform: scale(1);}}
.shadow {text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);}
.small {font-size: 0.875em;}
.logout {position: absolute; top: -0.5%; right: -0.5%; margin: 1rem; color: #fdf6d8; font-size: 0.75rem; background: transparent; border: none;}
.basic-text {color: #fdf6d8; font-size: 0.75rem; margin: 1rem;}
.gold {color: gold; text-align: center;}
.center {margin: auto; text-align: center; align-items: center; justify-content: center;}
.loosen {margin: 1rem; padding: 1rem;}
.tighten {margin: 0; padding: 0;}
.highlight-deity {background: #000; border: none; height: 100%; width: 50%;}
.wall {height: 100%; width: 100%;}
.wrap {width: 90%; text-align: center; margin: auto;}
.middleB {position: absolute; bottom: 0; left: 40%; font-size: 0.8em; border-radius: 5%;}
.middleT {position: absolute; top: 0; left: 50%; font-size: 0.8em; border-radius: 5%;}
.drop-25 {position: absolute; top: 15%;}
.left {position: absolute; left: 1%;}
.default {color: #000; background: #fdf6d8; border-radius: 0.25rem; padding: 0.25rem 1rem; margin: 0.5rem;}
.dialog-window {position:absolute;height:70%;width:60%;left:20%;background:#000;top:20%;overflow:scroll;scrollbar-width:none;border:0.1em solid gold;border-radius:0.25em;box-shadow:0 0 0.5em #ffc700;display:inline-flex}
.playerCombatUi {position: fixed;top: 0;left: 0;width: 50%;}
.combatUiShield {position: absolute;top: 2.5vh;left: 42.25vw; align-items: center;justify-content: center;background-color: #000;max-height: 10vh;border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;transform: scale(1.2);}
.combatUiWeapon {position: absolute;top: 2.5vh;left: 37vw;align-items: center;justify-content: center;border-radius: 50%;transform: scale(1.2);max-height: 10vh;}
.healthbar {display: flex;position: absolute;margin-left: 12.5%;width: 75%;overflow: hidden;border: 0.1em solid #fdf6d8;border-radius: 1em;}
.healthbar > div {
    transition: width 0.5 ease;
}
.healthbarPosition {position: absolute; bottom: 0; left: 0; top: 0; z-index: -1;}
.playerInventoryBag {height: 100%;width: 100%;z-index: 1;background-color: #000;display: grid;grid-template-columns: repeat(5, 1fr); grid-template-rows: repeat(7, 1fr);}
.playerName {left: 4.5%;font-family: 'Cinzel Regular';font-weight: 600;}
.playerPortrait {font-family: 'Cinzel Regular';font-weight: 700;text-align: center;z-index: 1;justify-content: center;align-items: center;}
.playerHealthBar {position: absolute;top: 7.5vh;left: 2vw;width: 20.5vw;height: 5vh;overflow: hidden;border: 0.1em solid purple;}
#playerHealthbarBorder {position: absolute;top: 4vh;left: 0;height: 12.5vh;width: 25vw;z-index: 0;}
.combatEffects {display: grid;position: fixed;grid-template-columns: repeat(5, 1fr);width: 100%;transform: scale(1);z-index: 1;}
.combatSettings {position: fixed;background-color: transparent;}
.disengage {position: absolute;left: 10vw;top: 5vh;}
.menuButton {font-family: 'Cinzel-Regular';font-size:0.85em;}
.lootDropWindow {position: absolute;font-family: 'Cinzel-Regular';background-color: #000;height: 40%;width: 45%;top: 45%;left: 50%;transform: translateX(-50%);padding: 0.5em;border: 0.15em solid gold;border-radius: 0.25em;box-shadow: 0 0 0.5em rgba(255, 215, 0, 1);overflow-y: scroll;z-index: 2;scrollbar-width: none;}
.playerMenuHeading {font-family: 'Cinzel-Regular';font-size: 1em; text-align: center;color: #fdf6d8;background-color: black;padding: 0;} 
.playerWindow {position: absolute;top: 10vh;color: #fdf6d8;text-align: center;height: 80vh;width: 32.5vw;border: 0.15em solid gold;background-color: #000;overflow: scroll; scrollbar-width: none;}
.playerSaveInventoryOuter {position: fixed;background-color: #000;top: -0.5vh;right: 0.5vw;border-radius: 5%;}
.stamina { text-align: center;color: #fdf6d8;font-family: 'Cinzel Regular';font-size: 1em;z-index: 3; }
.grace { text-align: center;color: #fdf6d8;font-family: 'Cinzel Regular';font-size: 1em;z-index: 3; }
.staminaBubble {position: absolute;top: 2vh;left: 24.5vw; width: 5vw; height: 10vh; max-height: 44px; border-radius: 50%; overflow: hidden;align-items: center;justify-content: center;border: 0.2em solid purple;box-shadow: 0 0 0.5em rgba(183, 0, 255, 0.5);}
.graceBubble {position: absolute;top: 2vh;left: 30.5vw; width: 5vw; height: 10vh; max-height: 44px; border-radius: 50%; overflow: hidden;align-items: center;justify-content: center;border: 0.2em solid purple;box-shadow: 0 0 0.5em rgba(183, 0, 255, 0.5);}
#staminaPortrait {position: absolute;top: 2vh;left: 35vw;z-index: 1;border-radius: 50%;overflow: hidden;height: auto;width: auto;}
.enemyCombatUi {position: fixed;top: 0;right: 0;width: 50vw;}
.enemyUiWeapon {position: absolute;top: 2.5vh;right: 25vw;align-items: center;justify-content: center;border-radius: 50%;transform: scale(1.05);}
.enemyHealthbar {display: flex;position: absolute;margin-left: 15%;width: 70%;overflow: hidden;border: 0.1em solid #fdf6d8;border-radius: 0.5em;}
.enemyName {position: absolute;right: 5vw;font-family: 'Cinzel Regular';font-size: 1em;color: red;font-weight: 600;text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);}
.enemyPortrait {font-family: 'Cinzel Regular';font-weight: 600;text-align: center;text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);z-index: 1;}
.enemyHealthBar {position: fixed;top: 7.5vh;right: 2vw;width: 20.5vw;height: 5vh;overflow: hidden;border: 0.1em solid red;}
#enemyHealthbarBorder {position: fixed;top: 4vh;right: 0;height: 12.5vh;width: 25vw;z-index: 1;}
.enemyPreview {position: absolute;color: #fdf6d8; border-color: #fdf6d8; text-align: center; width: 25vw;border-radius: 25%;top: 10vh;right: 5vw;}
.smallHudButtons {position: fixed;bottom: 1%;background-color: black;}
.cell {padding: 0.5em;border: 0.1em solid #fdf6d8;height: 100%;max-width: 50%;font-family: 'Cinzel Regular';align-items: center;justify-content: center;text-align: center;font-size: 1em;font-weight: 600;color: #fdf6d8;}
.row {display: flex;flex-direction: row;align-items: center;justify-content: center;}
.table {display: flex;}
.ascean-builder {border: 0.25em solid #fdf6d8;width: 90%;margin: 0 auto;}
.ascean-name {display: flex;justify-content: center;align-items: center;margin: 0 auto;width: 10%;height: 100%;}
.imageCardGrid {display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 1rem;padding: 1rem;}
.imageCardLeft {display: flex;justify-content: center;align-items: center;flex-direction: column;border-left: 0.2em solid #fdf6d8;border-right: 0.2em solid #fdf6d8;background-color: #000;}
.imageCardMiddle {display: flex;justify-content: center;align-items: center;flex-direction: column;border-left: 0.2em solid #fdf6d8;border-right: 0.2em solid #fdf6d8;background-color: #000;}
.imageCardRight {display: flex;justify-content: center;align-items: center;flex-direction: column;border-left: 0.2em solid #fdf6d8;border-right: 0.2em solid #fdf6d8;background-color: #000;}
.modal {position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;max-height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.75);}
.realize {animation: 1.5s 1 visible;}
.dialog-buttons {color: green;font-variant: small-caps;font-weight: 550;font-size: 0.65em;}
.spritePosition {margin: 10px 0 0 10px;font-size: 0.8em;}
.stat-block {width: 100%;height: 95%;padding-top: 0.5em;padding-bottom: 0.5em;}
.stat-block.wide {text-align: center; }
.stat-block.wide .section-left,
.stat-block.wide .section-right {display: inline-block; vertical-align: top; width: 48%; text-align: left; }
.stat-block.wide .section-left {margin-right: 1.5%; }
.stat-block.wide .section-right {margin-left: 1.5%; }
@media screen and (max-width: 800px) {
    .stat-block.wide .section-left,
    .stat-block.wide .section-right {display: inline-block; width: 100%;}
    .stat-block.wide .section-left {margin: 0;}
    .stat-block.wide .section-right {margin: 0;}
}
.orange-border.bottom {width: 95%; border-radius: 25%;}
.tapered-rule{display: block;width: 100%;height: 5px;border: none;color: #5a0043;fill: #5a0043;stroke: #5a0043;}
.creature-heading h1{font-family: 'Cinzel Regular', 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;font-size: 1.5em;color: gold;margin: 10px 0 0;letter-spacing: 1px;font-variant: small-caps;font-weight: bold;text-wrap: calc(100% - 2rem);}
.creature-heading h2{font-family: "Cinzel Regular";font-weight: normal;color: #fdf6d8;font-style: oblique;font-size: 1em;}
.creature-heading p{font-family: "Cinzel Regular";font-size: 1em;}
.property-line h4,
.property-line p{display: inline;margin: 0;color: #fdf6d8;font-size: 1em;}
.property-line h4 {color: #5a0043;font-weight: 700;}
.property-line {text-indent: -1em;padding-left: 1.1em;}
.property-line.first {margin: 8px 0 0}
.property-line.last {margin: 0 0 10px;}
.abilities {text-align: center;color: #5a0043;}
.abilities > div {display: inline-block;vertical-align: middle;width: 15.5%;font-size: 0.9em;}
.abilities h4 {margin: 10px 0 2px;font-size: 1em;text-transform: uppercase;color: #fdf6d8;}
.abilities p{margin: 0 0 10px;}
.property-block h4,
.property-block p {font-size: 1em;display: inline;margin: 0;}
.property-block  {font-style: italic;font-weight: 700;}
.property-block {padding: 10px 2px 0;}
.actions h3 {border-bottom: 1px solid #5a0043;color: #5a0043;font-size: 1.5em;font-variant: small-caps;font-weight: normal;letter-spacing: 1px;margin: 20px 0 0;padding: 0 0 10px;text-indent: 5px;}
.actions {margin: 0 0 20px;}
.actions:last-child{margin: 0;} 
.skill-bar {align-items:center;border: 0.1em solid gold;border-radius:0.25em;justify-content:center;margin-bottom:3%;text-align:center;}
.skill-bar-text {color:#fdf6d8;font-weight: 700;margin:0 auto;position:absolute;text-shadow:#000 0.1em 0 0.5em;width:90%;z-index:1;}
.skill-bar-fill {background-color:blue;height:4vh;overflow:hidden}
.combatText {position:absolute;left:25vw;height:30vh;width:50vw;top:60vh;margin:auto 0;overflow:scroll;scrollbar-width:none;background-color:#000;border:0.15em solid #ffc700;border-radius:0.25em;box-shadow:0 0 0.25em #ffc700;white-space:pre;}
.toast {background-color: #000; padding: 0.5em; margin: 0.5em; border: 0.1em solid #ffc700; border-radius: 0.5em; box-shadow: 0 0 1em #ffc700;}
.toastBody {color:#fdf6d8; font-size:0.75em; font-weight:500; margin: 0.75em;}
.toastButton {font-size: 0.75em; margin-left: 50%; transform: translateX(-50%)}
.toastHeader {color:gold; font-size:0.875em; font-weight:600; margin: 0.25em;}
.deity-box {position:absolute;height:40%;width:60%;left:20%;background:rgba(0,0,0,0.95);top:50%;border:0.1em solid gold;border-radius:0.25em;box-shadow:0 0 0.5em #ffc700;display:inline-flex;overflow:scroll;scrollbar-width:none;}
.my-transition {
    transition: height 500ms cubic-bezier(0.65, 0, 0.35, 1);
}