body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: rgba(253, 246, 216, 0.87);
    background-color: #000000; 
    font-family: "Cinzel Regular", Arial, Helvetica, sans-serif;
}

#app {
    display: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 0.15em solid #fdf6d8; */
    z-index: 1;
}

#deity-pic {
    /* width: 25%;
    height: 25%; */
    /* max-height: 25%;
    max-width: 25%; */
    border-radius: 50%;
    border: 0.2em solid #fdf6d8;
    margin: 0 auto;
    cursor: pointer;
}

#origin-pic {
    display: block;
    /* width: 25%;
    height: 25%; */
    max-height: 25%;
    max-width: 25%;
    border-radius: 50%;
    border: 0.1em solid #fdf6d8;
    margin: 0 auto;
    cursor: pointer;
}

#origin-pic:hover, #deity-pic:hover {
    border: 0.1em solid gold;
}

#origin-bonus {
    color: gold;
    font-weight: 500;
}

#popover-image {
    right: 0;
}

/* <------------- GAME UI -------------> */

.playerCombatUi {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
}

.combatUiShield {
    position: absolute;
    top: 2.5vh;
    left: 37.5vw; 
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
    transform: scale(1.05);
    /* transform: [{ rotate: '45deg' }, { scale: 1.25 }],
    // '0 50% 50% 0 === 'Sideways Eye'
    borderTopStartRadius: 75,
    borderTopEndRadius: 50,
    borderBottomStartRadius: 50,
    borderBottomEndRadius: 0, */
}

.combatUiWeapon {
    position: absolute;
    top: 2.5vh;
    left: 31.5vw;
    /* border: 0.15em solid purple; */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: scale(1.05);
}

.healthbar {
    position: absolute;
    left: 5vw;
    width: 70%;
    overflow: hidden;
    border: 0.1em solid #fdf6d8;
    margin-bottom: 10%;
    border-radius: 25%;
}

.playerName {
    position: absolute;
    left: 5vw;
    top: -3vh;
    font-family: 'Cinzel Regular';
    font-size: 1em;
    color: gold;
}

.playerPortrait {
    font-family: 'Cinzel Regular';
    font-weight: 600;
    text-align: center;
    z-index: 3;
}

.playerHealthBar {
    position: fixed;
    top: 7.5vh;
    left: 2.5vw;
    width: 20vw;
    height: 5vh;
    overflow: hidden;
    border: 0.1em solid purple;
}

#playerHealthbarBorder {
    position: absolute;
    top: 4vh;
    left: 0;
    height: 12.5vh;
    width: 25vw;
    z-index: 1;
}

.combatEffects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    transform: scale(0.9);
    top: 5vh;
    left: 2%;
    z-index: 1;
}

.combatSettings {
    position: fixed;
    /* border: 0.15em solid gold; */
    background-color: transparent;
    z-index: 2;
}

.disengage {
    position: absolute;
    left: 10vw;
    top: 5vh;
}

.playerWindow {
    position: absolute;
    top: 10vh;
    color: #fdf6d8;
    text-align: center;
    height: 80vh;
    width: 32vw;
    border: 0.15em solid gold;
    overflow: scroll;
}

.playerSaveInventoryOuter {
    position: fixed;
    background-color: #000;
    top: -0.5vh;
    right: 5vw;
    border-radius: 5%;
}

.stamina { 
    text-align: center;
    color: #fdf6d8;
    font-family: 'Cinzel Regular';
    font-size: 1em;
    z-index: 3; 
}

.staminaBubble {
    position: absolute;
    top: 2vh;
    left: 25vw; 
    width: 5vw; 
    max-height: 10vh; 
    border-radius: 50%; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 0.2em solid purple;
    box-shadow: 0 0 0.5em rgba(183, 0, 255, 0.5);
}

#staminaPortrait {
    position: absolute;
    top: 2vh;
    left: 35vw;
    z-index: 1;     
    border-radius: 50%;
    overflow: hidden;
    height: auto;
    width: auto;
}

.smallHudButtons {
    position: fixed;
    bottom: 1%;
    background-color: black;
    z-index: 1;
}

/* <------------- GAME UI -------------> */

.ascean-builder {
    border: 0.25em solid #fdf6d8;
    width: 90%;
    margin: 0 auto;
}

.ascean-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.border {
    border: 0.2em solid #fdf6d8;
    border-radius: 0.25rem;
    margin: 0.5rem;
    background-color: black;
}

.borderless {
    border: none;
}

.borderCircle {
    border-radius: 50%;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    font-family: "Cinzel Regular";
    width: 10em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #000000;
    border-radius: 5;
    color: rgba(253, 246, 216, 0.87);
    border: 0.15em solid rgba(253, 246, 216, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 0.15em solid gold;
        color: gold;
    }

    &:active {
        /* background-color: #fdf6d8; */
        border: 0.15em solid gold;
        color: gold;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 0.15em solid rgba(253, 246, 216, 0.3);
        color: rgba(253, 246, 216, 0.3);
    }
}

.buttonBorderless {
    font-family: "Cinzel Regular";
    /* margin: 0.5em; */
    padding: 0.5em;
    background-color: #000000;
    color: rgba(253, 246, 216, 0.87);
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 0.15em solid gold;
        color: gold;
    }

    &:active {
        /* background-color: #fdf6d8; */
        border: 0.15em solid gold;
        color: gold;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 0.15em solid rgba(253, 246, 216, 0.3);
        color: rgba(253, 246, 216, 0.3);
    }
}

.cornerBR {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    border-radius: 5%;
}

.cornerTR {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    border-radius: 5%;
}

.cornerBL {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
    border-radius: 5%;
}

.cornerTL {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8em;
    border-radius: 5%;
}

.middleB {
    position: absolute;
    bottom: 0;
    left: 40%;
    font-size: 0.8em;
    border-radius: 5%;
}

.middleT {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 0.8em;
    border-radius: 5%;
}

.drop-25 {
    position: absolute;
    top: 15%;
}

.left {
    position: absolute;
    left: 1%;
    /* border: 0.15em solid #fdf6d8; */
}

.superCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.verticalBottom {
    position: absolute;
    bottom: 0;
    left: 50%;
}
.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.right {
    position: absolute;
    left: 51%;
    /* border: 0.15em solid #fdf6d8; */
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5;
    margin-bottom: 5;
    color: #fdf6d8;
    font-family: 'Cinzel-Regular';
    font-size: 1.25em;
    border-bottom-color: #fdf6d8;
    border-bottom-width: 2;
}

.imageCardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.imageCardLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0.2em solid #fdf6d8;
    border-right: 0.2em solid #fdf6d8;
    /* border: 0.2em solid #fdf6d8; */
    background-color: #000000;
}

.imageCardMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0.2em solid #fdf6d8;
    border-right: 0.2em solid #fdf6d8;
    /* border: 0.2em solid #fdf6d8; */
    background-color: #000000;
}

.imageCardRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 0.2em solid #fdf6d8;
    border-right: 0.2em solid #fdf6d8;
    /* border: 0.2em solid #fdf6d8; */
    background-color: #000000;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.75);
} 

.shadow {
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
}

.small {
    font-size: 0.875em;
}

.super {
    font-size: 0.5em;
}

.wall {
    height: 100%;
    width: 100%;
}

.wrap {
    width: 90%;
    text-align: center;
    margin: auto;
}

.default {
    color: #000;
    background: #fdf6d8;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
}

.highlight {
    color: #fdf6d8;
    background: #000000;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
}

.highlight-deity {
    background: #000000;
    border: none;
    height: 100%;
    width: 50%;
}

.logout {
    position: absolute;
    top: -0.5%;
    right: -0.5%;
    margin: 1rem;
    color: #fdf6d8;
    font-size: 0.75rem;
    background: transparent;
    border: none;
}

.basic-text {
    color: #fdf6d8;
    font-size: 0.75rem;
    margin: 1rem;
}

.gold {
    color: gold;
    text-align: center;
}

.center {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loosen {
    margin: 1rem;
    padding: 1rem;
}

.tighten {
    margin: 0;
    padding: 0;
}

.stat-block { 
    width: 100%;
    height: 95%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.stat-block.wide { text-align: center; }
.stat-block.wide .section-left,
.stat-block.wide .section-right { display: inline-block; vertical-align: top; width: 48%; text-align: left; }
.stat-block.wide .section-left { margin-right: 1.5%; }
.stat-block.wide .section-right { margin-left: 1.5%; }

@media screen and (max-width: 800px) {
    .stat-block.wide .section-left,
    .stat-block.wide .section-right { display: inline-block; width: 100%; }
    .stat-block.wide .section-left { margin: 0; }
    .stat-block.wide .section-right { margin: 0; }
}

.orange-border.bottom { width: 95%; border-radius: 25%; }
.tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #5a0043;
    fill: #5a0043;
    stroke: #5a0043;
}
.creature-heading h1{
    font-family: 'Cinzel Regular', 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 1.5em;
    color: gold;
    /* line-height: 1.2em; */
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
    text-wrap: calc(100% - 2rem);
}
.creature-heading h2{
    font-family: "Cinzel Regular";
    font-weight: normal;
    color: #fdf6d8;
    font-style: oblique;
    font-size: 1em;
    /* line-height: 1.2em; */
    /* margin: 0 0 10px; */
}
.creature-heading p{
    font-family: "Cinzel Regular";
    font-size: 1em;
}
.property-line h4,
.property-line p{
    display: inline;
    margin: 0;
    color: #fdf6d8;
    font-size: 1em;
    /* line-height: 1.2em; */
}
.property-line h4 {
    color: #5a0043;
    font-weight: 700;
}
.property-line {
    text-indent: -1em;
    padding-left: 1.1em;
    /* line-height: 1.4em; */
}
.property-line.first {
    margin: 8px 0 0
}
.property-line.last {
    margin: 0 0 10px;
}
.abilities {
    text-align: center;
    color: #5a0043;
}
.abilities > div {
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    font-size: 0.9em;
    /* line-height: 1em; */
}
.abilities h4 {
    margin: 10px 0 2px;
    font-size: 1em;
    /* line-height: 1.2em; */
    text-transform: uppercase;
    /* color: #7A200D; */
    color: #fdf6d8;
}
.abilities p{
    margin: 0 0 10px;
    /* line-height: 1.2em; */
}
.property-block h4,
.property-block p {
    font-size: 1em;
    /* line-height: 1.2em; */
    display: inline;
    margin: 0;
}
.property-block  {
    font-style: italic;
    font-weight: 700;
}
.property-block {
    padding: 10px 2px 0;
}
.actions h3 {
    border-bottom: 1px solid #5a0043;
    color: #5a0043;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
    text-indent: 5px;
}
.actions {
    margin: 0 0 20px;
}
.actions:last-child{
    margin: 0;
}

@media print {
	.orange-border {
		display: none;
	}
	.stat-block,
	.stat-block.wide, 
	.stat-block.wide .section-left,
	.stat-block.wide .section-right,
	.property-line,
	.property-block {
		width: 100%;
		display: block;
	}
	.stat-block.wide .section-left {
	    margin: 0;
	}
	.stat-block.wide .section-right {
	    margin: 0;
	}
	.stat-block {
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	.stat-block.wide {
		page-break-after: always;
	}
}